<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Try5</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!--csrf_meta_tags -->
</head>
<body ng-controller="Ctrl1">
  <h2>Template page, {{myVar}}</h2>
  <a ui-sref="call_for_demo">Call me!</a><br>
  <a ui-sref="another_call">another part</a>
 <div class="row">
   <div class="col-md-6" ui-view="viewA"></div>
   <div class="col-md-offset-6" ui-view="viewB"></div>
 </div>

 <div class="col-md-offset-5 col-md-2" ng-controller="CtrlForTablePlayer1">
      <img class="player_cards" ng-src="/cards_images/{{table_card1.address}}" />
 </div>
 <!--   -->
 <div class="col-md-offset-3 col-md-6" ng-controller="CtrlForPlayer1">
   <div class="col-md-1" ng-repeat="card in cards">
      <img ng-click="clicker(card)" class="player_cards" ng-src="/cards_images/{{card.address}}" />
   </div>
 </div>

 <!-- ============================testing================================= -->
 <div class="col-md-offset-3 col-md-6" ng-controller="CtrlForPlayer2">
    <div class="col-md-1" ng-repeat="card in cards2">
      <img class="player_cards" ng-src="/cards_images/{{card.address}}" />
    </div>
 </div>

<!-- =======================================================================  -->

</body>
</html>
